body{ 
  background-image: url("image/photo.avif");
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}
.image{
    width: 10%;
}

h1{
    font-size: 30px;
    text-align: center;
    color:#c6efc6;
   
}
h2{
    font-size: 30px;
    text-align: center;
    color:#454f45;
   
  }
  h3{
    font-size: 30px;
    text-align: center;
    color:#545454;
  }

  ul{
    text-decoration: none;
    list-style-type: none;
  }
  .bouton{
    background-color: #8bb2ca;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
  }
  .card{
    width: 30%;
    text-align: center;
    padding: 10px;
  }

  .card-image{
    width: 100%;
  }

  .card-image img{
    width: 100%;
  }